{% extends 'base.html' %}

{% block title %}О разработчике{% endblock %}

{% block heading %}О разработчике{% endblock %}

{% block content %}
<style>
    .text-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        margin-top: 20px;
        margin-left: 200px;
        margin-right: 200px;
    }
</style>
<a class="top-right-button" href="/">На главную</a>
<div class="text-container">
    Приложения разработано студентом Филиала федерального государственного бюджетного образовательного учреждения высшего образования
"Университет "Дубна" - Дмитровский институт непрерывного образования, Воробьевым Павлом Владимировичем, группа 0122 -АС (ВО)
</div>
{% endblock %}