{% extends 'base.html' %}
{% block title %}Главная{% endblock %}

{% block heading %}Вторая Мировая Война{% endblock %}

{% block content %}
<style>
/* Стили для контейнера страницы */
.page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Стили для текста */
.page-text {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
}

/* Стили для заголовков */
.page-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Стили для параграфов */
.page-paragraph {
  text-align: center;
  margin-bottom: 10px;
}

/* Стили для ссылок */
.page-link {
  color: #337ab7;
  text-decoration: none;

}

.page-link:hover {
  text-decoration: underline;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}
.button-link {
    display: inline-block;
    text-decoration: none;
    background-color: #888;
    border: 1px solid #ccc;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
}
</style>
<a class="top-right-button" href="/">На главную</a>
<body>
    <div class="page-container">
        <div class="button-container">
            <a href="{% url 'subject' topic_id=1 %}" class="button-link">Пройти тест по теме</a>
        </div>
        <h1 class="page-heading">Причины и суть конфликта</h1>
        <p class="page-paragraph">
            Главными виновниками в развязывании новой войны стали Германия, Италия и Япония. Все эти страны опоздали к
            разделу так называемого «колониального пирога» и стремились перекроить политическую карту мира в свою пользу.
            Несмотря на то, что Япония и Италия вышли из Первой мировой войны победителями, требуемых результатов они так
            и не получили — основные колонии и рынки сбыта так и остались в руках основных колониальных держав: Великобритании,
            Франции и США. Германия же, как проигравшая сторона, вынуждена была принять тяжелые условия Версальского мирного договора.
            Все это подготовило почву для новой мировой войны.
            Были и другие причины для конфликта. Так, в 1931 году Япония оккупировала Северный Китай и Манчжурию, а в 1937 году
            началась японо-китайская война, продлившаяся вплоть до капитуляции Японии в 1945 году.
        </p>
        <p class="page-paragraph">
            В 1938 году на озере Хасан, а в 1939 году на реке Халхин-Гол произошла серия пограничных вооруженных столкновений между СССР и Японией.

            Японская оккупация в КитаеЯпонская оккупация в Китае
            Пришедшие в 1922 году к власти в Италии фашисты во главе с Бенито Муссолини с 1930-х годов начали проводить все более агрессивную внешнюю политику. В 1935 году они объявили войну Эфиопии и в 1936 году захватили ее территорию. Тогда же был опубликован проект «Большой Италии», по которому Средиземное море объявлялось сферой интересов Италии.

            Огромные контрибуции и экономические санкции со стороны стран-победительниц, а также тяжелейший экономический кризис, разразившийся в 1929 году, сильно ударили по немецкой экономике. Бедность, безработица и социальное неравенство привели к тому, что в Германии стали набирать популярность радикальные националистические партии.

            В 1933 году в Германии к власти пришла Национал-социалистическая немецкая рабочая партия (НСДАП) во главе с Адольфом Гитлером. Одними из главных лозунгов нацистской партии были отмена условий Версальского мирного договора, реваншизм и расширение жизненного пространства для германской нации.

            В 1933 году Германия вышла из состава участников Лиги Наций. В 1935 году в Германии вели всеобщую воинскую повинность и начали быстрое наращивание военной мощи. С 1934 года по 1940 год объем военного производства вырос в 22 раза.
        </p>
        <p class="page-paragraph">
            В своем стремлении умиротворить агрессора и направить его аппетиты на восток Великобритания и Франция шли на все новые уступки Германии.

            Видя, что его действия не встречают активного противодействия, Гитлер выдвинул Чехословакии ультиматум о передаче Германии Судетской области, населенной преимущественно немцами. 30 сентября 1938 года между Великобританией, Францией, Германией и Италией было подписано Мюнхенское соглашение (в советской историографии известное как «мюнхенский сговор»), по которому Судеты передавались Германии. Чехословацкая делегация при этом не присутствовала и была поставлена перед фактом. Стала известной фраза, которую произнес премьер-министр Великобритании Невилл Чемберлен по возвращении в Лондон: «Я привез мир нашему поколению». На это Уинстон Черчилль отреагировал словами: «Великобритании был предложен выбор между войной и бесчестием. Она выбрала бесчестие и получит войну».
        </p>
        <p class="page-paragraph">
            В нарушение Мюнхенского соглашения в марте 1939 года Германия оккупировала оставшуюся часть Чехии, создав на ее территории протекторат Богемии и Моравии, а Словакия была объявлена формально независимым пронацистским государством.
            Весной 1939 года СССР предложил Великобритании и Франции заключить трехстороннее соглашение о взаимопомощи в случае немецкой агрессии, но получил отказ. Видя нежелание западных стран заключать союз, Москва подписала 23 августа 1939 года договор о ненападении с Берлином, получивший известность как пакт Молотова — Риббентропа и включавший в себя секретный протокол о разграничении сфер влияния в Восточной Европе.
        </p>
        <h1 class="page-heading">Страны — участницы Второй мировой войны</h1>
        <p class="page-paragraph">
            Участников войны можно разделить на два противоборствующих лагеря: страны «оси» с союзниками и страны антигитлеровской коалиции. В течение войны количество стран-участниц изменялось в зависимости от успехов той или иной стороны.
            К странам «оси» относились в первую очередь Германия, Италия и Япония, которые подписали 27 сентября 1940 года Тройственный пакт о взаимопомощи и распределении зон влияния. Также их союзникам были Венгрия, Румыния, Болгария, Финляндия и коллаборационистские правительства завоеванных Германией, Италией и Японией стран.

            Основными участниками антигитлеровской коалиции изначально были первыми вступившие в войну с Германией Великобритания (с доминионами), Франция и Польша, а с 1941 года — СССР, США и Китай.
        </p>
        <h1 class="page-heading">Первый этап Второй мировой войны (сентябрь 1939 — июнь 1941)</h1>
        <p class="page-paragraph">
            Утром 1 сентября 1939 года немецкий броненосец «Шлезвиг-Гольштейн» атаковал польские укрепления на Вестерплатте под Гданьском, начав таким образом Вторую мировую войну.
            редлогом для начала боевых действий Гитлер назвал оказавшийся провокацией СС захват поляками радиостанции в Глейвице.

            3 сентября Великобритания и Франция объявили Германии войну.

            Имея многократное преимущество в численности войск, бронетехнике и авиации, вермахт, несмотря на ожесточенное сопротивление польских войск, к 10 сентября разбил основные вооруженные силы Польши.

            17 сентября части Рабоче-крестьянской Красной армии (РККА) вошли на территорию Восточной Польши, чтобы «защитить братские народы» - территории Западной Беларуси и Западной Украины вошли в состав СССР по секретному протоколу к пакту Молотова — Риббентропа. В тот же день польское правительство бежало из страны.

            28 сентября немецкими войсками была взята Варшава, а 6 октября сдались последние сопротивлявшиеся части польской армии.

            Несмотря на данные Польше обещания помощи в случае немецкой агрессии, Франция и Великобритания так и не начали активных боевых действий на западном фронте, что обезопасило Германию от войны на два фронта. Бездействие союзнических войск получило название «странная война».

            Польская кампания вермахтаПольская кампания вермахта
            С начала военных действий Германия проводила крупномасштабную подводную войну против Великобритании, уничтожив к лету 1941 года треть её торгового флота

            Стремясь обезопасить Ленинград с северо-запада, Советский Союз предложил Финляндии обменять часть Карельского перешейка на вдвое большую территорию в Карелии, но получил отказ.

            30 ноября 1939 года началась советско-финляндская война. После кровопролитных боев и больших потерь к началу марта 1940 года советские войска сумели прорвать «линию Маннергейма» (комплекс оборонительных сооружений между Финским заливом и Ладогой 132–135 км длиной, созданный в 1920–1930 годы на финской части Карельского перешейка для сдерживания возможного наступательного удара со стороны СССР), и 13 марта был подписан мирный договор.
        </p>
        <p class="page-paragraph">
            Агрессия Советского Союза привела к исключению его из Лиги Наций и к охлаждению отношений с западными странами.

            9 апреля 1940 года Германия оккупировала Данию и вторглась в Норвегию. Последние части вооруженных сил Норвегии сдались 10 июня.

            10 мая немецкие войска через территории Люксембурга, Нидерландов и Бельгии, стремительным наступлением танковых и механизированных соединений прорвали оборону союзников и к 20 мая вышли к Ла-Маншу. Британскому экспедиционному корпусу и части французской армии удалось эвакуироваться через Дюнкерк, бросив при этом огромное количество артиллерии и бронетехники.

            Эвакуация союзников из ДюнкеркаЭвакуация союзников из Дюнкерка
            14 июня части вермахта вошли в Париж, не встретив сопротивления. А 22 июня Франция капитулировала. Большая часть ее была оккупирована, а на не занятой немецкими войсками территории было образовано профашистское правительство под руководством маршала Петена (правительство Виши).

            Французская кампания вермахтаФранцузская кампания вермахта
            10 июня в войну вступила Италия, заняв Британское Сомали, часть Кении и Судана.

            Летом 1940 года при активном участии Советского Союза в Литве, Латвии и Эстонии были проведены выборы. Победившие на них просоветские силы провозгласили создание социалистических республик и в августе были приняты в состав СССР.

            В августе началась так называемая Битва за Британию – систематические бомбардировки силами люфтваффе (ВВС вермахта периода Третьего рейха) английских городов, а также промышленных и военных объектов. К маю 1941 года интенсивность бомбардировок сократилась в связи с переброской основных сил немецких ВВС на восток для предстоящего нападения на СССР.

            В феврале 1941 года в Северную Африку были посланы части вермахта под командованием Эрвина Роммеля для захвата Египта.

            Весной 1941 года немецкие войска оккупировали Югославию и Грецию. По итогам первого периода войны Германия с союзниками захватили практически всю Европу, военный и экономический потенциал которой был использован для предстоящей войны с СССР.
        </p>
        <h1 class="page-heading">Второй этап Второй мировой войны (июнь 1941 — ноябрь 1942)</h1>
        <p class="page-paragraph">
            Утром 22 июня 1941 года без объявления войны немецкие войска вторглись на территорию Советского Союза. Это событие принято считать началом второго этапа Второй мировой войны. Согласно плану «Барбаросса» Германия нанесла удар тремя группами армий на протяжении всей западной границы СССР. Внезапность нападения привела к большим потерям военной техники, боеприпасов и самолетов.

            22-24 июня США и Великобритания выразили поддержку СССР и приступили к выработке соглашений о военно-экономическом сотрудничестве. Начала складываться антигитлеровская коалиция.
            Несмотря на ожесточенное сопротивление и постоянные попытки контрударов, части вермахта быстро продвигались вглубь советской территории.

            8 сентября немецкая группа армий «Север» замкнула кольцо окружения вокруг Ленинграда — началась блокада города, продлившаяся 872 дня и унесшая жизни сотен тысяч человек из числа мирного населения.

            К ноябрю 1941 года группа армий «Юг» захватила практически всю Украину и 21 ноября был взят Ростов-на-Дону.

            Но наступление группы армий «Центр» на Москву было остановлено. 5 декабря Красная Армия начала контрнаступление, и немецкие силы были отброшены от столицы на 100–250 км на запад. План молниеносной войны был сорван.

            7 декабря 1941 года японская авиация нанесла удар по американской военно-морской базе Пёрл-Харбор на Гавайях. Неожиданное нападение нейтрализовало американский тихоокеанский флот на полгода, что позволило Японии захватить большую часть Юго-Восточной Азии.

            Летом 1942 года после неудачной наступательной операции советских войск под Харьковом южная часть фронта оказалась ослабленной. Командование вермахта решило нанести основной удар именно на этом направлении, чтобы захватить кавказские нефтяные месторождения.

            17 июля началась Сталинградская битва.

            К концу осени частям вермахта удалось занять Кубань, но на Кавказе и под Новороссийском они были остановлены. Под Сталинградом советским командованием были сконцентрированы силы для перехода в контрнаступление.

            На тихоокеанском театре военных действий после сражений у атолла Мидуэй и за остров Гуадалканал Япония истощила свои силы и перешла к обороне.

            В Северной Африке итало-немецкие войска потерпели поражение в Египте, а высадившиеся во Французской Северной Африке американо-английские войска начали наступление на Тунис из Алжира.
        </p>
        <p class="page-paragraph">
        </p>
    </div>
</body>
{% endblock %}