{% extends 'base.html' %}
{% block title %}Первая Мировая Война{% endblock %}

{% block heading %}Первая Мировая Война{% endblock %}

{% block content %}
<style>
/* Стили для контейнера страницы */
.page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Стили для текста */
.page-text {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
}

/* Стили для заголовков */
.page-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Стили для параграфов */
.page-paragraph {
  text-align: center;
  margin-bottom: 10px;
}

/* Стили для ссылок */
.page-link {
  color: #337ab7;
  text-decoration: none;

}

.page-link:hover {
  text-decoration: underline;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}
.button-link {
    display: inline-block;
    text-decoration: none;
    background-color: #888;
    border: 1px solid #ccc;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
}
</style>
<a class="top-right-button" href="/">На главную</a>
<body>
    <div class="page-container">
        <div class="button-container">
            <a href="{% url 'subject' topic_id=3 %}" class="button-link">Пройти тест по теме</a>
        </div>
        <h1 class="page-heading">Причины Первой мировой войны</h1>
        <p class="page-paragraph">
            Главная причина начала Первой мировой войны заключается в стремлении ведущих держав, прежде всего Англии, Франции и Австро-Венгрии к переделу мира. Дело в том, что колониальная система к началу 20 века рухнула. Ведущим европейским странам, которые годами процветали за счет эксплуатации колоний, теперь нельзя было получать ресурсы просто так, отнимая их у индусов, африканцев и южноамериканцев. Теперь ресурсы можно было только отвоевывать друг у друга. Поэтому и нарастали противоречия:

Между Англией и Германией. Англия стремилась не допустить усиления влияния Германии на Балканах. Германия стремилась укрепиться на Балканах и Ближнем Востоке, а также стремилась лишить Англию морского господства.
Между Германией и Францией. Франция мечтала вернуть себе земли Эльзас и Лотарингию, которые она потеряла в войне 1870-71 годов. Так же Франция стремилась захватить немецкий Саарский угольный бассейн.
Между Германией и Россией. Германия стремилась отнять у России Польшу, Украину и Прибалтику.
Между Россией и Австро-Венгрией. Противоречия возникали из-за стремления обеих стран оказывать влияния на Балканы, а также стремление России подчинить себе Босфор и  Дарданеллы.
        </p>
        <h1 class="page-heading">Повод к началу войны</h1>
        <p class="page-paragraph">
            Поводом к началу Первой мировой войны послужили события в Сараево (Босния и Герцеговина). 28 июня 1914 года член организации «Черная рука» движения «Молодая Босния» Гаврило Принцип убил эрцгерцога Франса Фердинанда. Фердинанд был наследником австро-венгерского престола, поэтому резонанс у убийства был громадный. Это был повод Австро-Венгрии напасть на Сербию.
            Здесь очень важно поведение Англии, поскольку Австро-Венгрия самостоятельно не могла начать войну, ведь это практически гарантировало войну во всей Европе. Англичане на уровне посольства убеждали Николая 2, что Россия в случае агрессии не должна оставлять Сербию без помощи. Но тут же вся (подчеркиваю это)английская пресса писала о том, что сербы варвары и Австро-Венгрия не должна оставлять безнаказанным убийство эрцгерцога. То есть, Англия сделала все, чтобы Австро-Венгрия, Германия и Россия не уклонялись от войны.
        </p>
        <h1 class="page-heading">Важные нюансы повода к войне</h1>
        <p class="page-paragraph">
            Во всех учебниках нам говорят, что главный и единственный повод к началу первой мировой войны – убийство австрийского эрцгерцога. При этом забывают сказать о том, что на следующий день, 29 июня, состоялось еще 1 знаковое убийство. Был убит французский политик Жан Жорес, который активно выступал против войны и имел большое влияние во Франции. За несколько же недель до убийства эрцгерцога было покушение на Распутина, который как и Жорес был противником войны и имел большое влияние на Николая 2. Также хочу отметить некоторые факты из судьбы главных героев тех дней:

Гаврило Принципин. Погиб в тюрьме в 1918 от туберкулеза.
Посол России в Сербии – Хартли. В 1914 умер в посольстве Австрии в Сербии, куда он пришел на прием.
Полковник Апис, руководитель «Черной руки». Расстрелян в 1917.
В 1917 исчезла переписка Хартли с Созоновым (следующий посол России в Сербии).
Это все указывает, что в событиях дней было очень много черных пятен, которые не раскрыты до сих пор. И это очень важно понимать.
        </p>
        <h1 class="page-heading">Роль Англии в развязывании войны</h1>
        <p class="page-paragraph">
            В начале 20 века в континентальной Европе были 2 большие державы: Германия и Россия. Открыто воевать друг против друга они не хотели, поскольку силы были примерно равны. Поэтому в «июльском кризисе» 1914 года обе стороны заняли выжидательную позицию. На передний же план вышла английская дипломатия. Она по средствам прессы и тайной дипломатии донесла до Германии позицию – в случае войны Англия сохранит нейтралитет или займет сторону Германии. Открытой же дипломатией Николаю 2 донеслась обратная мысль, что в случае начала войны Англия встанет на сторону России.

Нужно четко понимать, что одного открытого заявления Англии, что она не допустит войны в Европе, было бы достаточно, чтобы ни Германия, ни Россия ни о чем подобном и не помышляли. Естественно, что в таких условия и Австро-Венгрия не решалась бы нападать на Сербию. Но Англия всей своей дипломатией подталкивала европейские страны к войне.
        </p>
        <h1 class="page-heading">Россия перед войной</h1>
        <p class="page-paragraph">
            Перед первой мировой войной Россия провела реформу армии. В 1907 году была проведена реформа флота, а в 1910 реформа сухопутных войск. Страна многократно увеличила военные расходы, а общая численность армии в мирное время составляла теперь 2 миллиона человек. В 1912 году Россия принимает новый Устав полевой службы. Сегодня его по праву называют самым совершенным Уставом своего времени, поскольку он мотивировал солдат и командиров на проявление личной инициативы. Важный момент! Доктрина армии Российской империи была наступательной.

            Несмотря на то, что было много положительных изменений, были и очень серьезные просчеты. Главный из них – недооценка роли артиллерии в войне. Как показал ход событий первой мировой войны – это была страшная ошибка, которая четко показала, что на момент начала 20 века русские генералы серьезно отстали от времени. Они жили прошлым, когда важна была роль кавалерии. В итоге же 75% всех потерь первой мировой были нанесены артиллерией! Это приговор императорскому генералитету.

            Важно отметить, что Россия подготовку к войне (на должном уровне) так и не закончила, а Германия ее завершила в 1914.
        </p>
        <h1 class="page-heading"></h1>
        <p class="page-paragraph">
        </p>
    </div>
</body>
{% endblock %}