{% extends 'base.html' %}
{% block title %}Пётр Первый{% endblock %}

{% block heading %}Пётр Первый{% endblock %}

{% block content %}
<style>
/* Стили для контейнера страницы */
.page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Стили для текста */
.page-text {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
}

/* Стили для заголовков */
.page-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Стили для параграфов */
.page-paragraph {
  text-align: center;
  margin-bottom: 10px;
}

/* Стили для ссылок */
.page-link {
  color: #337ab7;
  text-decoration: none;

}

.page-link:hover {
  text-decoration: underline;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}
.button-link {
    display: inline-block;
    text-decoration: none;
    background-color: #888;
    border: 1px solid #ccc;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
}
</style>
<a class="top-right-button" href="/">На главную</a>
<body>
    <div class="page-container">
        <div class="button-container">
            <a href="{% url 'subject' topic_id=2 %}" class="button-link">Пройти тест по теме</a>
        </div>
        <h1 class="page-heading">Детство и юность Петра I</h1>
        <p class="page-paragraph">
            Дата рождения Петра I – 30 мая (9 июня) 1672 года. Петр был старшим сыном царя Алексея Михайловича от второй жены, Натальи Кирилловны Нарышкиной. Воспитывали наследника престола няньки, а грамоте обучал не слишком образованный дьяк Никита Зотов. Петр I не получил систематического европейского образования, поздно освоил грамоту и писал с ошибками. Впрочем, юный царевич всегда отличался тягой к знаниям и всю жизнь учился новому. Он с удовольствием осваивал ремесла и говорил на нескольких иностранных языках.
            Уже в раннем детстве проявилась у царевича и тяга к военной науке. Для игр Петра был сформирован «потешный» полк из сверстников будущего императора. Петр со своими соратниками устраивал показательные сражения, штурмовал крепости и даже завел при своих потешных артиллерию. Постепенно «игра в солдатики» перешла в настоящее военно-практическое обучение, а в число потешных стали записываться и взрослые люди. Из детских игр царевича выросла впоследствии знаменитая петровская армия нового строя, а сами потешные стали ее элитными гвардейскими частями – Преображенским и Семеновским полками.
        </p>
        <h1 class="page-heading">Правление Петра I</h1>
        <p class="page-paragraph">
            Путь будущего императора к власти оказался непростым. Козни враждующих боярских родов, кровавые стрелецкие бунты и борьба со старшей сестрой царевной Софьей омрачили первые годы правления Петра I. Последовавшие за этим радикальные реформы император проводил на фоне изнурительной Северной войны. Победа не заставила монарха долго почивать на лаврах – неутомимый самодержец, «вечный работник» на троне до конца дней трудился ради величия и славы империи.
        </p>
        <h1 class="page-heading">Начало экспансии России, 1690–1699 гг.</h1>
        <p class="page-paragraph">
            В 90-е годы XVII столетия внешняя политика Петра I была обращена на юг. При царевне Софье Россия вступила в войну с Османской империей, и задачей молодого царя было эту войну не проиграть. Петр I Великий справился с этой задачей блестяще: Константинопольский мирный договор 1700 года укрепил позиции России на юге, и правитель перенес внимание на северо-западные границы государства.
            Весной 1697 года в страны Западной Европы отправилось знаменитое Великое Посольство. Оно должно было решить множество задач: заручиться поддержкой европейских правителей в борьбе против Турции и Швеции, изучить состояние военного и инженерного дела, политический строй европейских держав, пригласить на русскую службу иностранцев, закупить оружие и иные товары, не производившиеся на родине.
            Посольство посетило Австрию, Голландию и Англию. Планировался визит в Венецию и даже к папе римскому, но стрелецкий бунт прервал путешествие царя. Сам Петр I был участником посольства инкогнито, под именем урядника Преображенского полка Петра Михайлова, однако примечательная внешность и личное вмешательство в переговоры выдавали государя с головой.
            Во время путешествия Петр I активно изучал западные технологии. В голландском городке Саардаме, а позднее и в английском Дептфорде царь осваивал науку кораблестроения и трудился на верфях. Он посещал госпитали, фабрики, музеи, университеты, интересовался самыми разными ремеслами – от техники гравировки до способов бальзамирования трупов. Считается, что именно Великое Посольство стало катализатором европеизации России при Петре I.
        </p>
        <h1 class="page-heading">Создание Российской империи, 1700–1724 гг.</h1>
        <p class="page-paragraph">
            Процесс модернизации и европеизации России проходил на фоне тяжелых и продолжительных войн. В поиске денег, солдат и рабочей силы Петру пришлось мобилизовать все ресурсы государства, прибегая к беспощадным репрессиям. Но к концу петровского царствования Россия вышла на европейскую арену как мощная военная и промышленная держава, а Петр 22 октября (2 ноября) 1721 года принял титул Императора Всероссийского и Отца Отечества.
        </p>
        <h1 class="page-heading">Внешняя политика</h1>
        <p class="page-paragraph">
            Длительное противостояние с Османской империей на юге, изнурительная Северная война со Швецией, продвижение на восток – вот основные направления внешней политики великого государя-реформатора. Но не оружием единым осуществлялась эта внешняя политика. Успехи петровской дипломатии связаны с установлением тесных связей с иностранными правительствами, чему способствовали визиты в Европу и личное знакомство Петра с монархами крупнейших держав.
        </p>
        <h1 class="page-heading">Военные кампании</h1>
        <p class="page-paragraph">
            Биография Петра Первого – это во многом летопись войн, которые вела Россия в его царствование. Храбрый царь никогда не прятался в тылу. В самых жарких сражениях, в гуще событий, под пулями рисковал он жизнью и вдохновлял своим героизмом солдат и офицеров.
        </p>
        <h1 class="page-heading">Азовские походы</h1>
        <p class="page-paragraph">
            Как только Петр получил реальную, а не номинальную власть в Российском государстве, война с Османской империей потребовала всех его сил.
            Основной целью русской армии стала крепость Азов, захват которой давал России выход к морю. Первый Азовский поход 1695 года окончился неудачей. Молодой царь понял, что взять крепость без поддержки военных кораблей не удастся, и на верфях Воронежа закипела работа. Деньги на флот собирали «всем миром»: государь повелел организовать «кумпанства», в которые объединялись владельцы крестьян, и каждое такое кумпанство должно было выстроить и оснастить корабль. Год спустя во второй поход Россия выступила не только с сухопутными войсками, но и с Морским полком – прообразом современной морской пехоты. Азов был взят.
        </p>
        <h1 class="page-heading">Великая Северная война</h1>
        <p class="page-paragraph">
            К началу XVIII столетия внешняя политика Петра обращается к Европе – царь решает вернуть земли на Балтике. Воевать в одиночку и на два фронта Россия не могла, поэтому Северная война началась лишь после того, как было заключено перемирие с Османской империей и сформирован «Северный союз» – антишведская коалиция России, Дании, Саксонии и Речи Посполитой. Начало Северной войны оказалось для нашей страны тяжелым. После разгрома русских войск при Нарве 19 (30) ноября 1700 года стало очевидно, насколько катастрофическим было отставание России в военной, промышленной и экономической сфере.
            Пётр I полностью реорганизовал управление армией, изменил систему снабжения, поставил на службу армии промышленность, построил верфи и флот. Результат не заставил себя ждать: уже спустя два-три года русские вышли на побережье Балтийского моря в устье Невы, захватив крепости Нотебург и Ниеншанц и начав строительство Санкт-Петербурга. К 1704 году Петр овладел Нарвой и Дерптом, а 27 июня (8 июля) 1709 года наголову разгромил шведского короля Карла XII в Полтавской баталии. Среди крупнейших побед молодого российского флота – битвы при Гангуте 1714 года и при Гренгаме 1720 года. Мир со Швецией был подписан 30 августа (10 сентября) 1721 года в Ништадте. Россия закрепила за собой обширные прибалтийские территории (Ингрию, Карелию, Эстляндию и Лифляндию) и овладела выходом к морю.
        </p>
        <h1 class="page-heading">Русско-турецкая война 1710–1713 гг.</h1>
        <p class="page-paragraph">
            В 1710 году султан объявил войну России, и Петру пришлось воевать на два фронта. Государь лично повел войска в сторону Дуная, где надеялся получить поддержку подвластных Турции христиан. Этот поход 1711 года окончился для России плачевно. Армия была окружена при реке Прут. Солдаты жестоко страдали от жажды и голода, самому царю и его окружению грозил плен – пришлось просить у турок мира.
            Прутский мирный договор с Османской империей, а затем и Адрианопольский мир 1713 года позволили Петру продолжить борьбу со Швецией, но отняли у него все прежние южные завоевания. Азов вернули Турции, Таганрог разрушили, Россия потеряла Азовский флот и выход к морю. Впрочем, эти условия были гораздо мягче тех, на которые был изначально согласен Петр, отчаянно метавшийся в прутской западне.
        </p>
        <h1 class="page-heading">Продвижение на восток</h1>
        <p class="page-paragraph">
            Несмотря на непрекращающиеся войны в европейской части России, Петр Великий продолжал освоение и восточных земель – Сибири, Средней Азии, Дальнего Востока. Сподвижник государя И.Д. Бухгольц отправился в экспедицию в Сибирь в 1714 году и основал к югу от Иртыша Омскую крепость. В 1716–1717 гг. в Хивинское ханство был послан с крупным отрядом князь А. Бекович-Черкасский. Он должен был склонить к подданству хивинского хана, разведать, нельзя ли добывать в Амударье золото, и даже проложить путь в Индию. Поход Бековича окончился неудачей: все его солдаты погибли или попали в плен, был убит и сам предводитель.
            При Петре продолжалось активное освоение Дальнего Востока, в том числе Камчатки. С 1708 года полуостров вошел в состав Якутского уезда Сибирской губернии. Именно с подачи императора уже после его смерти были организованы экспедиции Витуса Беринга в Америку через Тихий океан.
        </p>
        <h1 class="page-heading">Каспийский (Персидский) поход</h1>
        <p class="page-paragraph">
            В 1722–1723 гг. Россия под властью императора Петра вступила в новую войну – с Персией. Целью Персидского (Каспийского) похода было овладение территориями юго-восточного Закавказья и Дагестана. В 1722 году русской армии и флоту сдался Дербент, а в 1723 году подчинился западный берег Каспийского моря, в том числе крепость Баку. Вмешательство Османской империи остановило дальнейшие завоевания, а спустя несколько лет после кончины Петра прикаспийские земли были возвращены Персии.
        </p>
        <h1 class="page-heading">Реформы Петра I</h1>
        <p class="page-paragraph">
            Радикальные преобразования петровского времени коснулись всех сфер русской действительности. Среди основных можно назвать военную, административную, финансовую и церковную реформы.
        </p>
        <h1 class="page-heading">Военные реформы</h1>
        <p class="page-paragraph">
            Роспуск стрелецкого войска и создание армии «нового строя», то есть регулярной армии, организованной по европейскому образцу, стали первым этапом масштабных военных реформ. За пару десятилетий Петр «с нуля», а иногда и собственноручно (вспомним его учебу на верфях Саардама и Дептфорда) построил флот со всей его инфраструктурой – верфями, адмиралтействами, лесозаготовительными предприятиями.
            Постепенно большую часть иностранцев на воинской службе заменили хорошо обученные русские офицеры. Изменился и способ комплектования армии. В 1705 году Петром I была введена рекрутская повинность, которой подлежали все сословия. Для дворян это была повинность личная, для податных сословий – общинная. Рекрут уходил из родного дома навсегда: срок его службы при Петре был пожизненным.
        </p>
        <h1 class="page-heading">Реформы государственного управления</h1>
        <p class="page-paragraph">
            Четкого плана реформ государственного управления у Петра Великого не было. Монарх стремился к уменьшению влияния Боярской думы и к созданию эффективной административной вертикали. В 1711 году Петр создал Правительствующий Сенат – высший орган коллегиального управления страной «вместо его царского величества собственной персоны» на то время, пока неугомонный русский царь находился в отлучке. Постепенно Сенат приобрел законосовещательные, административные и судебные функции.
            Запутанная система приказов к началу XVIII века полностью изжила себя, и Петр постепенно избавлялся от нее. Новые органы управления – коллегии – должны были четко распределить между собой функции прежних ведомств, сделать административную систему прозрачной и ускорить ее работу. Число коллегий менялось, главными считались Военная, Адмиралтейская и Иностранных дел. Для контроля над деятельностью разросшегося бюрократического аппарата при Петре создаются прокуратура и институт фискалов.
        </p>
        <h1 class="page-heading">Церковная реформа</h1>
        <p class="page-paragraph">
            Петр с его стремлением подчинить все сферы жизни нуждам государства, не мог смириться с независимостью церкви. Он упразднил патриаршество и соборность церкви, а орган управления ею превратил, по сути, в одну из коллегий – Святейший правительствующий Синод (1721). Таким образом, церковь полностью встраивалась во властную иерархию с самодержавным царем во главе.
        </p>
        <h1 class="page-heading">Денежная реформа</h1>
        <p class="page-paragraph">
            Поиск средств на ведение войны постоянно занимал Петра. В первые годы его царствования казна была практически опустошена, и царь выдумывал новые и новые способы ее наполнить: вводились прямые и косвенные налоги, требовалось обязательное использование гербовой бумаги, уменьшался вес монет. Основной денежной единицей при Петре стала не прежняя деньга, а копейка.
            Серьезную перестройку финансовой системы страны вызвал переход к новому способу налогообложения – подушной (а не подворной, как раньше) подати. Это потребовало проведения регулярных переписей населения, поскольку необходимая для содержания армии, флота и администрации сумма делилась теперь не по числу хозяйств (крестьянских дворов), а по числу душ мужского пола. Несмотря на недоборы и неточность переписей, эта реформа увеличила размер казны как минимум вдвое.
        </p>
        <h1 class="page-heading">Преобразования в промышленности и торговле</h1>
        <p class="page-paragraph">
            Развитие промышленности и разработка сырьевых ресурсов страны были одной из важных задач царя-преобразователя. По указам Петра по всей России была предпринята геологоразведка рудных богатств и учреждение заводов. Создавалась мощная металлургическая база на Урале. Желающим заняться разработкой полезных ископаемых давались различные привилегии, наряду с казенными заводами появились и частные.
            Война с Швецией заставила Петра отказаться от закупки металла за границей. В начале войны на пушки переплавляли церковные колокола, а к концу царствования Петра I Россия не только перестала зависеть от импорта металла, но и начала экспортировать его в Европу. Тульский и Сестрорецкий оружейные заводы поставляли ружья, пушки и холодное оружие на всю армию и освободили казну от расходов на закупки за границей. Развивалась и легкая промышленность, прежде всего кожевенная и текстильная. Петр поддерживал отечественных торговцев и промышленников, устанавливая различный размер пошлин для российских и иностранных купцов, но не ограничивал ввоз тех товаров, которых в России не было.
        </p>
        <h1 class="page-heading">Реформа образования</h1>
        <p class="page-paragraph">
            Царь-реформатор был, несомненно, и царем-просветителем. Он отправлял молодежь учиться за границу, приглашал в Россию европейских профессоров и технических специалистов, открывал учебные заведения для подготовки военных и морских кадров, инженеров, врачей. С 1701 по 1721 годы в России начали работу школа математических и навигацких наук, артиллерийская, медицинская, инженерная школы и морская академия.
            Не забывал Петр и о массовом образовании, своими указами поощряя открытие «цифирных школ» для обучения детей грамоте и счету. Для дворянства и духовного сословия получение образования стало при Петре обязательным. Царь развивал книгоиздание, провел реформу типографского шрифта, начал выпуск первой в России газеты. Не ограничиваясь школами, готовившими специалистов-практиков, Петр задался целью создать такой научный центр, который бы ничем не уступал знаменитым европейским академиям. Так родился проект создания Академии наук, при которой находились бы университет и гимназия. Открытие Академии состоялось спустя год после смерти Петра I.
        </p>
    </div>
</body>
{% endblock %}